<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  DocumentRoot /var/www/html/wordpress

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  <Directory /var/www/html/wordpress/>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>
